<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

     <!--font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nunito:wght@300&display=swap" rel="stylesheet">
    <!--font-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <title>{% block title  %} {% endblock %}</title>
    <style>
        h1,h2,h3{
            font-family: 'Black Han Sans', sans-serif;
        }
        body{
            font-family: 'Nunito',sans-serif;
        }
    </style>
</head>
<body>
<nav class="navbar bg-light">
    <div class="container">
        <a class='navbar-brand' href="{% url 'book_list' %}">
            <img src="https://cdn-icons-png.flaticon.com/512/5773/5773749.png" alt="" width="30" height="30">
            하나 책방
        </a>
    </div>
    <div>

        {% if request.user.is_authenticated %}

        {{request.user|title}}님,
        <a href="{% url 'my_rentals' %}">마이페이지</a> |
    <a href="{% url 'logout' %}">로그아웃</a>
    {% else %}

    <a href="{% url 'login' %}"> 로그인 </a>
    {% endif %}
    </div>

</nav>

<div class="container-fluid">
    {% block content %}

    {% endblock %}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>